<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <div class="main">
        <div id="title">
            <h1>{{title}}</h1>
        </div>
        <div class="welcome">
            <div class="username">{{user_name}}</div>
            <a href="/webui/logout">
                <div class="logout">logout</div>
            </a>
        </div>
        <div id="nav" class="rounded">
            <div class="Home"><a href="/webui/index">Home</a></div>
            <div class="nav"><a href="/webui/authors">Authors</a></div>
            <div class="nav"><a href="/webui/books">Books</a></div>
            <div class="nav"><a href="/webui/manager">Manager</a></div>
        </div>
        <div id="content">{%block content%}{%endblock content%}</div>
        <div id="footer" class="rounded">Jiangqiu Shen's audio book player <div class="home"><a
                    href="/webui/index">Home</a></div>
        </div>

    </div>

</body>

</html>