<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <div class="main">
        <div id="title">
            <h1>Login</h1>
        </div>


        <div id="content">
            <form id="loginForm">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <input type="button" value="Login" onclick="login()">
            </form>
            <div id="login_info"></div>
        </div>

        <script>
            function login() {
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                var data = {
                    "username": username,
                    "password": password
                };

                // Send POST request
                $.ajax({
                    type: "POST",
                    url: "/account/login",
                    data: JSON.stringify(data),
                    dataType: "text",
                    contentType: "application/json",
                    success: function (response) {
                        // Process the response here
                        console.log(response);
                        // Redirect to another page if needed
                        $("#login_info").html("logout success, will go to Home in 1 seconds");
                        setTimeout(function () {
                            window.location.href = "/webui/index";
                        }, 1000);
                    },
                    error: function (xhr, status, error) {
                        // Handle error here
                        console.error(error);
                        $("#login_info").html("login failed, please try again: error: " + error);

                    }
                });
            }
        </script>
    </div>

</body>

</html>